.videoControl {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: height 0.3s ease;
  overflow: hidden;
}

.videoControl > button {
  margin-right: 5px;
}
